:root {
  --main-bg: #f6f6f6;
  --nav-shadow: 0 0px 62.6px rgba(0, 0, 0, 0.041),
    0 0px 500px rgba(0, 0, 0, 0.07);
  --light-blue: #557eed;
  --main-text: #3d3c3c;
  --second-text: #b2b2b2;
  --input: #f6f6f6;
}

* {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background: var(--main-bg);
}

.navbar {
  box-shadow: var(--nav-shadow);
}

nav {
  position: absolute;
  z-index: 2;
}

nav ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding-inline-start: 0;
}

nav li {
  font-size: larger;
  font-weight: 500;
  list-style: none;
  color: var(--main-text);
  margin-left: 2rem;
}

nav li:hover {
  color: #17a2b8;
}

nav a:hover {
  text-decoration: none;
}

/* .btn-dark {
  margin-right: -21rem;
} */

.btn-holder {
  width: 14rem;
  display: flex;
  justify-content: space-evenly;
}

/* Blog css */

.card-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}

main {
  padding: 1rem;
}

.top {
  padding: 1rem;
}

.bottom {
  padding: 0 1rem;
}

.card {
  display: inline-block;
}

.card:hover {
  border-color: var(--second-text);
  cursor: pointer;
}

.card-body {
  color: var(--main-text);
}

/* Login css */

.login-container {
  width: 485px;
  background-color: #fff;
  box-shadow: var(--box-shadow);
  margin: 0 auto;
  margin-top: 9rem;
}

.login-container h3 {
  margin-top: 2.3rem;
}

.logo {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-container {
  margin: 0 auto;
  margin-top: 3rem;
  padding-bottom: 3rem;
}

.form-group label {
  font-size: large;
  font-weight: 500;
}

.form-group input {
  background-color: var(--input);
  border: none;
}

form {
  width: 72%;
  margin: 0 auto;
}

.login-container p {
  text-align: center;
  margin-top: 2rem;
  color: var(--second-text);
  font-size: 18px;
}

.login-container a {
  text-decoration: none;
}

.btn-login {
  width: 100%;
  margin-top: 1rem;
}

.btn-signup {
  width: 100%;
  margin-top: 1rem;
}

.signup-container {
  width: 485px;
  /* height: 650px; */
  background-color: #fff;
  box-shadow: var(--box-shadow);
  margin: 0 auto;
  margin-top: 6rem;
}

.signup-container h3 {
  margin-top: 2.3rem;
}

.logo {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-container {
  margin: 0 auto;
  margin-top: 3rem;
}

.form-group label {
  font-size: large;
  font-weight: 500;
}

.form-group input {
  background-color: var(--input);
  border: none;
}

form {
  width: 72%;
  margin: 0 auto;
}

.signup-container p {
  text-align: center;
  margin-top: 2rem;
  color: var(--second-text);
  font-size: 18px;
}

.signup-container a {
  text-decoration: none;
}

.logo a {
  text-decoration: none;
  color: var(--main-text);
}

/* Article css */
.text-background {
  width: 100%;
  height: 40vh;
  background-color: rgba(0, 0, 0, 0.1);
}

.text-content {
  width: 75%;
  height: 130vh;
  background-color: #fff;
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: -10rem;
  margin-bottom: 4rem;
}

.comment-section {
  width: 100%;
  height: 30%;
}

.text-section {
  width: 100%;
  height: 70%;
}

.comment-section hr {
  width: 80%;
}

.comment-section h3 {
  color: var(--main-text);
  padding-left: 9rem;
}

.comment-input {
  padding: 0rem;
  padding-top: 1.5rem;
}

.form-group label {
  font-size: larger;
}

.form-group button {
  margin-top: 1.5rem;
}

.blog-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
}

.blog-info h1 {
  color: var(--main-text);
}

.text-section p {
  font-size: larger;
  text-align: left;
  padding: 5rem;
}

.blog-info h5 {
  color: gray;
}

.btn-more {
  float: right;
}
